<div class="p-inputgroup">
    <span class="p-float-label">
    <p-autoComplete
        [(ngModel)]="article.codeFamille"
        [suggestions]="filteredItems"
        (completeMethod)="searchItems($event,source)"
        field="name"
        (onBlur)="validateInput()"
        [dropdown]="true"
        (onSelect)="emitUpdatedArticle(source)"
        appendTo="body">
        <ng-template let-item pTemplate="item">
            <div class="dropdown-item">
            <table>
                <tbody>
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </ng-template>

        <ng-template pTemplate="header" >
            <div class="dropdown-header" style="position: absolute;z-index: 1;width: 100%;background-color: white;padding: 0.75rem 1.25rem; padding-right: 2.25rem;" >
            <table style="height: 25px;" >
                <thead >
                <tr >
                    <th>Code</th>
                    <th>Libelle</th>
                </tr>
                </thead>
            </table>
            </div>
            <br>
        </ng-template>

        </p-autoComplete>
        <i class="pi pi-search clickable-icon" (click)="showDetails(source)"></i>

        <label *ngIf="source!='depotAchatStock'" for="famille">{{label}}</label>

    </span>
</div>
<p-dialog [(visible)]="displayDialogFamille||displayDialogSousFamilleArticle" [modal]="true" [responsive]="true" [breakpoint]="1024" [style]="{width: '800px',height:'550px'}"  >
    <!-- <ng-template pTemplate="header"> -->

    <!-- <div class="d-flex justify-content-center">
        <button pButton pRipple label="Ajouter" icon="pi pi-check" class="p-button-text footer enregistrer-button"  (click)="newItem()" ></button>
        <span style="width: 20px;"></span>
        <button pButton pRipple label="Modifier" icon="pi pi-pencil" class="p-button-text footer annuler-button"(click)="updateItem()" [disabled]="true" ></button>
     </div> -->
     <!-- </ng-template> -->
     <div class="page-container" >
                <div class="title-search" >
                    <span class="text-center">
                        <h3> Liste des {{title}}</h3>
                    </span>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input
                        pInputText
                        type="text"
                        [(ngModel)]="searchTerm"
                        (keyup)="filterItems()"
                        placeholder="Rechercher"
                        class="w-full"
                        />
                    </span>




                    <!-- <table style="padding: 10px;">
                        <thead>
                            <tr>
                                <th style="padding: 15px;">Code</th>
                                <th style="padding: 15px;">Libelle</th>
                            </tr>
                        </thead>
                    </table> -->
            </div>
            <div class="table-container">
            <p-table #dt1 [value]="filteredItems" [tableStyle]="{'min-width': '50rem'}"    styleClass="p-datatable-gridlines p-datatable-sm"
				[tableStyle]="{ 'min-width': '50rem' }"
				[scrollable]="true"
				scrollHeight="300px"
				[rows]="10"
				[virtualScroll]="true"
			  [virtualScrollItemSize]="46"
			  [resizableColumns]="true"
			  selectionMode="single" [(selection)]="selectedItem"
			  (onRowSelect)="onRowSelect($event)"
			  >


				<ng-template pTemplate="header" let-columns>
					<tr>
						<th pResizableColumn>Code</th>
						<th >

                            Libelle
						</th>
						<!-- <th pResizableColumn>Actions</th> -->
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-fournisseur let-columns="columns">
					<tr [pSelectableRow]="fournisseur"
                    (dblclick)="handleDoubleClickFournisseur()"
                        >
						<td style="width: 20%;">{{fournisseur.id}}</td>
						<td >
							{{fournisseur.name}}
						</td>

					</tr>
				</ng-template>
			</p-table>
        </div>

</div>
<ng-template pTemplate="footer" class="lookupedit-footer">
    <div class="footer-container">
        <div class="footer-buttons-left">
            <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-text footer" (click)="Add()"></button>
            <button pButton pRipple label="Modifier" icon="pi pi-pencil" class="p-button-text footer" (click)="save()"></button>
            <button pButton pRipple label="Consulter" icon="pi pi-eye" class="p-button-text footer" (click)="save()"></button>
        </div>
        <div class="footer-buttons-right">
            <button pButton pRipple label="Valider" icon="pi pi-check" class="p-button-text footer"[disabled]="!selectedItem" (click)="handleDoubleClickFournisseur()"></button>
            <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text footer" (click)="fermerLookUp()"></button>
        </div>
    </div>


</ng-template>


</p-dialog>


    <p-dialog [(visible)]="AddModifyFournisseurDialog"   [style]="{width: '500px' }" [maximizable]="false" label="Show" [modal]="true" class="p-fluid" header={{title}}>

        <div class="col-12 md:col-12">
            <div class="p-fluid p-formgrid grid field">
                <span style="height: 15px;"></span>
            </div>
                <div class="p-fluid p-formgrid grid field">
                    <div class="col-12 md:col-12">
                        <span class="p-float-label">
                            <input pInputText  [disabled]="true"id="raisonSociale" tyle="height: 30px;" type="text" [(ngModel)]="newCar.id" >
                            <label for="raisonSociale">Code</label>
                        </span>
                    </div>
                </div>

                <!-- <div class="field col-12 m-0" style="align-items: center;">
                    <div  style="display: block;">

                        <label for="description">Code</label>
                        <input [disabled]="isEditing" pInputText style="height: 30px;" type="text" [(ngModel)]="newCar.id">

                    </div>
                    <div class="p-fluid p-formgrid grid field">
                        <div class="col-12 md:col-12">
                            <span class="p-float-label">
                                <input pInputText id="raisonSociale" style="height: 25px;width:98%" type="text" [(ngModel)]="article.designation" >
                                <label for="raisonSociale">Désignation Article</label>
                            </span>
                        </div>

                    </div>
                    <div  style="display: block;">
                    <label for="description">{{title}}</label>
                    <input  pInputText style="height: 30px;" type="text" [(ngModel)]="newCar.name">
                    </div>
                </div> -->


        <div class="p-fluid p-formgrid grid field">
            <span style="height: 10px;"></span>
        </div>
        <div class="p-fluid p-formgrid grid field">
            <div class="col-12 md:col-12">
                <span class="p-float-label">
                    <input pInputText  tyle="height: 30px;" type="text" [(ngModel)]="newCar.name" >
                    <label for="raisonSociale">Libelle</label>
                </span>
            </div>
        </div>

         </div>


    <ng-template pTemplate="footer">
        <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text footer enregistrer-button" (click)="saveCar()" ></button>
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text footer annuler-button" (click)="cancel()" ></button>


    </ng-template>
</p-dialog>
